# Binaries
/target

# Mac-OS
.DS_Store

# Mac-Os for issue https://github.com/rust-lang/rust/issues/60059
build_with_lto.sh
macos-linker.sh

# vscode
.vscode/
*.code-workspace

# Rust
**/*.rs.bk
Cargo.lock

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Personal Files
README_TEST.md
