# Binaries
/target

# Mac-OS
.DS_Store

# Scripts 
*.sh

# vscode
.vscode/
*.code-workspace

# Rust
**/*.rs.bk
Cargo.lock

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Other Files
README_TEST.md

buildbkp.rs
